<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pslip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Pslip.Properties.Settings>
            <setting name="HRate" serializeAs="String">
                <value>10.20</value>
            </setting>
            <setting name="ORate" serializeAs="String">
                <value>10.20</value>
            </setting>
            <setting name="SRate" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="PensProc" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PersAllow" serializeAs="String">
                <value>12500</value>
            </setting>
        </Pslip.Properties.Settings>
    </userSettings>
</configuration>